* {
	padding: 0;
	margin: 0;
	font-family: century gothic;
	text-align: center;
}

form {
	padding: 50px 20px;
	background-color: #978e151a;
	margin: calc(12% + 100px);
	margin-top: 70px;
	padding-top: 28px;
	margin-bottom: 30px
}

h1 {
	text-align: center;
	padding: 12px;
	color: rgb(206, 203, 203)
}

input {
	width: calc(100% - 20px);
	padding: 9px;
	margin: auto;
	margin-top: 12px;
	font-size: 16px
}

input[type='submit']{
	background-color: rgb(14, 30, 66);
	color: #fff;
	width: calc(80% - 20px);
	margin: 0 10%;
	margin-top: 22px;
	border: none;
	
}

.mensaje{
	width: 100%;
	max-width: 350px;
	margin: auto;
	margin-top: 20px;
	text-align: left;
	padding: 6px;
	color: red;

}

body{
	/*background-image:url(../IMG/f3.png);*/
	background-color: rgb(102, 101, 101);
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	height:100%;
	background-size: cover;

	color:white;	
}